body {
  font-family: Helvetica, Arial, 'sans-serif';
  background: #152854;
}

.wrapper {
  background-repeat: repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: #2c3e50;
  height: 90vh;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 80%;
  margin: 0 auto;
}

.title-container {
  width: 50%;
  height: 90vh;
  background: url("img/bg.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #000;
}

.form-container {
  height: 90vh;
  justify-self: center;
  padding-top: 100px;
  padding-left: 50px;
}

.app-title {
  color: #0e586b;
  font-size: 75px;
  letter-spacing: 2px;
  margin-top: 80%;
}

.app-subtitle {
  color: #ddd;
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
}

.navbar {
  position: absolute;
  top: 3%;
}

nav a {
  color: #BC3458;
  padding-right: 1.5em;
}

/* welcome/home page */
.welcome {
  margin-top: 5em;
  text-align: center;
}
.welcome h1,h2,h3,h4,h5 {
  color: #EF6155;
  font-weight: lighter;
}

.welcome h5 {
  color: #888;
}


.weather-info {
  width: 100%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather-key {
  color: #f16051;
  border-bottom: solid 2px rgba(255,255,255,0.06);
  margin: 7.5% 20% 7.5% 0;
  font-weight: 400;
}

.weather-value {
  color: #fff;
  font-weight: 200;
}

/* grid only applies to 3hr interval display */
.three-hour-display {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #f16051;
  color: #fff !important;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  padding: 0 10px 0;
  padding-bottom: 4px;
  width: 30%;

  outline: none;
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #f16051;
  color: #fff;
  font-weight: 100;
}

button:hover {
  background-color: #D05965;
}

button:active {
  outline: none;
}

#reset {
  position: absolute;
  bottom: 10%;
  left: 10%;
}
